@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global settings */

* {
  scroll-behavior: smooth;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,  
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* Animation for the "Contact" button */
.animbutton {
  transition: background 500ms;
}
.animbutton:hover {
  background: fixed;
}
.animbutton:active {
  background: white;
}

/*Animations for the "Show More" button at the projects section */
.showmargin {
  margin: 0rem 32rem 2rem 32rem;
  height: 57px;
  transition: margin 257ms ease-in-out;
}
.showmargin:hover {
  margin: 0rem 31rem 2rem 31rem;
}
.showmargin:active {
  background: white;
}

/*Animations for the "Send" button */
.sendbutton {
  transition: width 257ms ease-in-out;
  color: black;
}
.sendbutton:hover {
  width: 9rem;
}
.sendbutton:active {
  background: white;
}

/*Animations for the navigation bar */
.animnav {
  background: none;
  transition: background 275ms ease-in-out;
}
.animnav:hover {
  background:#5ce1e6;
  border-radius: 12px;
  width: 7rem;
  height: 34px;
}
.animnav:active{
  background: white;
}

/* Animation for the project section */
.showprojs {
  height: 0px;
  transition: height 1s ease-in-out;
  overflow: hidden;
}
.showoption {
  position: relative;
}
#showmore::after {
  content: "Show More";
}
input {
  display: none;
}
input:checked + #showmore::after {
  content: "Hide All";
}
input:checked ~ div{
  height: 827px;
}

/* Settings for the project cards */
.project-container {
  margin: 0px;
}
.project-card {
  background: transparent;
  border-width: 1px;
  border-color: rgba(51, 187, 207, 0.27);
}
.project-card:hover {
  background: var(--black-gradient);
  border-width: 0px;
}

.margincontact {
  margin: 0 10% 0 0;
}

/* Gradients definitions for general purpouse */
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}
.blue__gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
}

/* Sidebar for mobile and animation */
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.box-shadow {
    box-shadow: 0px 27px 157px -20px rgba(75, 75, 127, 0.75);
}

.centertext {
    position: absolute;
    padding-top: 10px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

.contact {
  display: inline-block;
  margin: 10px;
}

.message {
  display: block;
  margin: 10px;
}